.signOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  overflow-y: scroll;

  .signModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    z-index: 999;
    overflow-y: auto;

    .imageLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .arrow {
        width: 20px;
        cursor: pointer;
      }

      .delete {
        width: 15px;
        cursor: pointer;
      }
    }
    .signUpText {
      font-size: 25px;
      margin-top: 30px;
    }

    .signUpAlram {
      margin-top: 20px;
      color: #666666;
    }

    .inputBox {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      .firstInput {
        width: 240px;
        padding-bottom: 6px;
        border: none;
        border-bottom: 1px solid #cccccc;
        font-size: 18px;
      }

      .secondInput {
        width: 220px;
        padding-bottom: 6px;
        border: none;
        border-bottom: 1px solid #cccccc;
        font-size: 18px;
      }
    }

    .thirdInput {
      margin-top: 50px;
      padding-bottom: 6px;
      border: none;
      border-bottom: 1px solid #cccccc;
      font-size: 18px;
    }

    .fourthInput {
      margin-top: 50px;
      padding-bottom: 6px;
      border: none;
      border-bottom: 1px solid #cccccc;
      font-size: 18px;
    }

    .firstCheckBox {
      margin-top: 50px;

      .checkBoxBtn {
        margin-right: 10px;
      }
    }

    .secondCheckBox {
      margin-top: 10px;

      .checkBoxBtn {
        margin-right: 10px;
      }
    }

    .terms {
      height: 100px;
      margin-top: 10px;
      padding: 2px;
      border: 1px solid;
      overflow-y: scroll;
    }

    .signUpBtn {
      margin-top: 50px;
      padding: 20px;
      background-color: #333333;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }
  }
}

.signUpClose {
  display: none;
  z-index: -2;

  .modalClose {
    display: none;
  }
}
