.secondContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  // height: calc(100vh - 100px);
  padding-bottom: 30px;
  background-color: #fffef2;
  overflow: hidden;
  padding-top: 150px;

  .nextBtn,
  .preBtn {
    border: none;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }

  .nextBtn {
    right: 0;

    p {
      height: 60px;
      width: 60px;
      font-size: 20px;
      background-color: #252525;
      color: white;
      cursor: pointer;
    }
  }
  .preBtn {
    left: 0;

    p {
      height: 60px;
      width: 60px;
      font-size: 20px;
      background-color: #252525;
      color: white;
      cursor: pointer;
    }
  }
  .productContainer {
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 1px;
    }
    .textLine {
      min-width: 450px;
      margin-top: 100px;
      margin-left: 80px;
      .firstTextLine {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 400;
      }

      .secondTextLine {
        margin-bottom: 20px;
        font-size: 30px;
      }

      .thirdTextLine {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
      }

      .showProducts {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.secondContainerOpen {
  display: none;
}
