@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.paymentAddress {
  animation: smoothAppear 1s;
  .notice {
    font-size: 30px;
  }

  .noticeName {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .noticeWhere {
    margin-top: 100px;
    font-size: 30px;
  }

  .orderInfoText {
    color: gray;
    height: 50px;
  }

  .inputForm {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .btnGo {
    padding: 20px 20px;
    width: 250px;
    margin-top: 50px;
    border: 0px;
    background-color: #333333;
    color: lightgray;

    &:hover {
      transition: 0.5s;
      opacity: 1;
      background-color: black;
    }
  }

  .countryNumber {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;

    .selectCountry {
      width: 120px;
      height: 40px;
      background-color: transparent;
      border: 0px;
      border-bottom: 1px solid lightgray;
      font-size: 30px;
    }
  }
}
