.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // display: flex;
  // align-items: flex-end;
  // flex-wrap: wrap;
  // padding-top: 100px;
  // justify-content: space-around;

  .container-box {
    margin-bottom: 600px;
    height: 100%;
  }

  .b-product-title {
    margin-left: 40px;
    font-size: 30px;
  }

  .b-product-description {
    width: 360px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    line-height: 1.5;
    font-size: 15px;
  }
}
