.filter-arrow-wrapper {
  .filter-button {
    position: absolute;
    top: 415px;
    right: 10px;
    width: 100px;
    height: 60px;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #bebebe;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #252525;
      color: #fff;

      .filter-arrow-w {
        display: block;
      }
    }
  }

  .filter-arrow {
    position: relative;
    margin-left: 20px;
    width: 10px;
  }

  .filter-arrow-w {
    position: absolute;
    top: 24px;
    right: 22px;
    margin-left: 20px;
    width: 10px;
    display: none;
  }

  .close {
    background: inherit;
    border: none;
    border-radius: 0;
    cursor: pointer;

    .close-button {
      position: absolute;
      top: 430px;
      right: 60px;
      width: 10px;
    }
  }
}
