.h-product-wrapper {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  width: 400px;

  margin-left: 60px;
  margin-bottom: 50px;

  &:hover {
    background-color: #ebeade;

    .size {
      font-weight: lighter;
      display: none;
    }

    .radio-box {
      margin-bottom: 32px;
      visibility: visible;
    }

    .add-cart {
      visibility: visible;
    }

    .added-cart {
      visibility: visible;
    }
  }

  .product-detail-link {
    text-decoration: none;
    color: #000;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hand-product {
      height: 370px;
      width: 160px;
      padding: 20px;
      background-size: cover;
    }
  }

  .h-title-wrapper {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    text-align: center;
    margin-top: 30px;
    line-height: 2;

    .title-name {
      margin-bottom: 20px;
    }
  }

  .radio-box {
    visibility: hidden;

    .radio-label {
    }
  }

  .product-detail-box {
    margin-top: 15px;
    border-top: 2px solid;

    .product-detail {
      display: flex;
      align-items: center;
      height: 60px;
      padding: 20px;
      border-bottom: 1px solid rgb(173, 173, 173);

      .texture {
        margin-right: 20px;
        width: 50px;
      }

      .texture-feeling {
        font-weight: lighter;

        .feeling:not(:first-child) {
          &::before {
            content: ',';
            margin: 3px;
          }
        }
      }
    }
  }

  .add-cart {
    height: 60px;
    width: 400px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    background: inherit;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    // visibility: hidden;
    cursor: pointer;
  }
}
