.filter-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: #ebeade;
  height: 120px;

  .filter-nav-list {
    display: flex;
    margin-left: 40px;

    .filter-nav-button {
      margin-right: 30px;
      font-size: 17px;
      font-weight: 300;
      background: inherit;
      border: none;
      padding-right: 30px;
      padding: 0;
      overflow: visible;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
      }
    }
  }
}
