.body {
  background-color: #f6f5e8;
}

.bgImgWrapper {
  overflow: hidden;
  height: 420px;

  .background-img {
    position: relative;
    background-size: cover;
    width: 100%;
    top: -300px;
  }
}

.goods {
  display: flex;
  position: absolute;
  top: 20%;
  left: 3%;
  transition: translate(-50%, -50%);
  color: #fff;

  .title {
    font-size: 30px;
    margin-left: 40px;
  }
  .title-box {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    line-height: 1.5;
    font-weight: 300;
  }
}

.logo {
  width: 150px;
  height: 75px;
}

.product-box {
  margin-top: 25px;
}

.product-description {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 50px;
  overflow-y: hidden;

  .product-description-wrapper {
    display: flex;
  }
}

.scent-body {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 50px;

  .scent-wrapper {
    .title {
      font-size: 30px;
      margin-left: 40px;
    }

    .title-box {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 40px;
      line-height: 1.5;
    }
    .scent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      padding: 20px;
      margin-left: 40px;
      border: 1px solid rgba(51, 51, 51, 0.1);
      background: inherit;
      text-decoration: none;
      color: #000;
      font-size: 14px;
      font-weight: 300;
      transition-duration: 0.3s;
      cursor: pointer;

      &:hover {
        background-color: rgb(39, 39, 39);
        color: #fff;
      }

      .see-all-arrow {
        width: 15px;
        margin-left: 20px;
      }
    }
  }

  .scent-img {
    width: 540px;
    height: 320px;
  }
}

.bodyClose {
  display: none;
}
