.title-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 50px;

  .title {
    font-size: 30px;
    margin-left: 40px;
  }
  .title-box {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    line-height: 1.5;
  }
  .see-all {
    margin-left: 40px;
    text-decoration: none;
    color: #000;
    cursor: pointer;

    .see-all-arrow {
      width: 10px;
      margin-left: 20px;
    }
  }
}
