.successOverLay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: scroll;
  .successModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    z-index: 999;
    overflow-y: auto;
    .welcomeText {
      font-size: 25px;
      margin-bottom: 20px;
    }
    .createText {
      font-size: 17px;
      color: #666666;
    }
    .backBtn {
      margin-top: 50px;
      padding: 20px;
      background-color: #333333;
      color: white;
      &:hover {
        background-color: black;
      }
    }
  }
}
