.Payment {
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-right: 100px;
    width: 60%;

    .logoWrapper {
      width: 40%;

      .logo {
        position: absolute;
        width: 100px;
        top: 130px;
        left: 40px;
      }
    }

    .contextWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .notice {
        font-size: 30px;
      }

      #inputEmail {
        margin-top: 70px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid lightgray;

        &:focus {
          outline: none;
        }
      }

      #inputEmailFalse {
        margin-top: 70px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 30px;
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid red;

        &:focus {
          outline: none;
        }
      }

      .labelEmail,
      #inputEmail:placeholder-shown + label {
        position: absolute;
        top: 252px;
        margin-left: 10px;
        font-size: 30px;
        color: gray;
      }

      #inputEmail:focus + label,
      #inputEmailFalse:focus + label,
      #inputEmail:not(placeholder-shown) + label {
        color: gray;
        font-size: 12px;
        top: 230px;
        transition: 0.2s;
      }

      .warning {
        margin-left: 10px;
        margin-top: 8px;
        color: red;
        font-size: 15px;
      }
    }

    .btnEmail {
      padding: 20px 20px;
      width: 250px;
      margin-top: 50px;
      border: 0px;
      background-color: #333333;
      color: lightgray;

      &:hover {
        transition: 0.5s;
        opacity: 1;
        background-color: black;
      }
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vw;
  padding-top: 150px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #ebeade;

  .paymentOverview {
    padding: 0px 20px;

    .overviewDetail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 15px;

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-top: 30px;
      }
    }

    .viewAll {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
    }

    .presentOption {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .presentLeft {
        display: flex;
        align-items: center;
        .presents {
          width: 50px;
          margin-right: 10px;
        }
      }
      .modify {
        font-size: 15px;
        color: gray;
      }
    }
  }
}
