.Payment {
  display: flex;
  flex-direction: row;
  background-color: #e8e7db;
  height: 1400px;

  .left {
    display: flex;
    flex-direction: row;
    padding: 150px 50px;
    width: 60%;

    .logoWrapper {
      width: 30%;
      position: relative;

      .logo {
        position: absolute;
        width: 130px;
        left: 40px;
      }
    }

    .contextWrapper {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      width: 100%;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 1400px;
    padding-top: 150px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #d5d4c6;

    .paymentOverview {
      padding: 0px 20px;

      .overviewDetail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;

        &:first-child {
          margin-top: 0px;
        }

        &:last-child {
          margin-top: 30px;
        }
      }

      .viewAll {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
      }

      .cartDataList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid black;

        .cartImage {
          width: 30px;
          margin-left: 15px;
        }

        .cartTextWrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          .cartTextName {
            font-weight: 700;
          }
          .cartTextPrice {
            margin-top: 10px;
          }
          .cartTextQuantity {
            margin-top: 10px;
            color: gray;
          }
        }
      }

      .presentOption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .presentLeft {
          display: flex;
          align-items: center;
          .presents {
            width: 50px;
            margin-right: 10px;
          }
        }
        .modify {
          font-size: 15px;
          color: gray;
        }
      }
    }
  }
}
