.shippingTextBoxWrapper {
  position: relative;
  margin-top: 10px;
  height: 100px;
  animation: smoothAppear 1s;

  &.closeAnimation {
    animation: smoothAppear 1s reverse forwards;
  }

  #shippingTextBox {
    position: absolute;
    width: 100%;
    height: 80px;
    margin-top: 15px;
    padding: 10px 10px;
    border: 1px solid gray;
    background-color: transparent;
    font-size: 15px;
  }

  #shippingTextBox:focus {
    outline: none;
  }

  .shippingTextBoxLabel,
  #shippingTextBox:placeholder-shown + label {
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
    font-size: 18px;
    color: gray;
  }

  #shippingTextBox:focus + label,
  #shippingTextBox:not(placeholder-shown) + label {
    position: absolute;
    margin: 0px;
    font-size: 10px;
    transition: 0.2s;
  }
}
