.footerCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 50px;

  #footerCheckboxSelect {
    display: none;
  }

  #footerCheckboxSelect + label {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid gray;
  }

  #footerCheckboxSelect:checked + label::before {
    content: '✓';
    position: absolute;
    font-size: 20px;
    left: 55px;
  }

  .checkboxText {
    font-size: 15px;
    margin-left: 10px;
  }
}
