$default-footer-color: lightgray;
$default-font-weight: 100;

.Footer {
  padding: 50px 50px;
  background-color: #252525;
  color: $default-footer-color;
  font-weight: $default-font-weight;

  .footerBlockWrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.devider {
  border-top: 1px solid white;
  margin-bottom: 30px;
}

.waterMark {
  font-size: 20px;
  font-weight: 700;
}
